
$bg-main: #233ba7;
$bg-main-mb: #164c9f;

$color-white: #fff;
$color-black: #000000;
$color-button__action: #1c3b08;
$color-button__action--hover: #587834;

$color-short-infor : #4959d0;
$color-short-infor--active : #ff0000;
$color-short-infor--point: #f0ff00;

$box-bg: #fbcd7f;
$box-header-text-shadow : #962129;
$box-header-text-color1 : #fff836;
$box-header-text-color2 : #fef38c;
$box-header-text-color3 : #ff9309;

$input-boder-color: #7c2c00;
$table-border-color: #b24316;

$url-assets: '..';