/** Import variable  **/
/** Import mixin  **/
/** Import box  **/
@-webkit-keyframes bottomToTop {
  0% {
    bottom: 0; }
  50% {
    bottom: 5%; }
  100% {
    bottom: 0; } }
@keyframes bottomToTop {
  0% {
    bottom: 0; }
  50% {
    bottom: 5%; }
  100% {
    bottom: 0; } }

@-webkit-keyframes zoomTo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes zoomTo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes coin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes coin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.button-download {
  margin-top: -10px;
  z-index: 2; }
  .button-download img {
    width: 70%;
    margin-top: -140px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__android img {
    float: right; }
  .button-download__android:hover .button-download__android--light {
    opacity: 1;
    margin-left: 67%; }
  .button-download__android--light {
    content: "";
    background: url(../images/bg/btn-light-hover.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 72%;
    margin-top: -50px;
    height: 60px;
    width: 60px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.23s ease-in;
    -o-transition: opacity 0.23s ease-in;
    transition: opacity 0.23s ease-in;
    -webkit-transition: margin 0.45s ease-in;
    -o-transition: margin 0.45s ease-in;
    transition: margin 0.45s ease-in; }
  .button-download__ios img {
    float: left; }
  .button-download__ios:hover .button-download__ios--light {
    opacity: 1;
    margin-left: 15%; }
  .button-download__ios--light {
    content: "";
    background: url(../images/bg/btn-light-hover.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 10%;
    margin-top: -165px;
    height: 60px;
    width: 60px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.23s ease-in;
    -o-transition: opacity 0.23s ease-in;
    transition: opacity 0.23s ease-in;
    -webkit-transition: margin 0.45s ease-in;
    -o-transition: margin 0.45s ease-in;
    transition: margin 0.45s ease-in; }
  .button-download:hover img {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01); }

.tablet .button-download img {
  width: 100%;
  margin-top: -100px;
  -webkit-transition: 0.45s all ease-in;
  -o-transition: 0.45s all ease-in;
  transition: 0.45s all ease-in; }

.tablet .button-download__ios--light {
  content: "";
  background-size: contain;
  position: absolute;
  margin-left: -70%;
  margin-top: -125px;
  height: 70px;
  width: 70px;
  pointer-events: none;
  opacity: 1; }

.tablet .button-download__ios:hover .button-download__ios--light, .tablet .button-download__ios:active .button-download__ios--light, .tablet .button-download__ios:focus .button-download__ios--light {
  opacity: 1;
  margin-left: -72%; }

.tablet .button-download__android--light {
  content: "";
  background-size: contain;
  position: absolute;
  margin-left: 55%;
  margin-top: 20px;
  height: 70px;
  width: 70px;
  pointer-events: none;
  opacity: 1; }

.coin-wrapper {
  position: absolute;
  height: 130px;
  width: auto;
  z-index: 2; }
  .coin-wrapper__001 {
    left: 20%;
    top: 5%;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }
  .coin-wrapper__002 {
    right: 35%;
    top: 10%;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }
  .coin-wrapper__002 {
    right: 35%;
    top: 10%;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }
  .coin-wrapper__003 {
    right: 15%;
    top: -5%;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }
  .coin-wrapper__004 {
    left: 30%;
    top: 45%;
    height: 100px;
    width: auto;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }
  .coin-wrapper__005 {
    right: 40%;
    bottom: 5%;
    height: 120px;
    width: auto;
    -webkit-animation: coin 3s infinite;
    animation: coin 3s infinite; }

.fish {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .fish__fish {
    z-index: 0;
    position: absolute; }
    .fish__fish--01 {
      bottom: 0;
      right: 15%;
      z-index: -1;
      width: 250px; }
    .fish__fish--02 {
      bottom: 25%;
      left: 15%;
      z-index: -1;
      width: 230px; }
  .fish__crab {
    bottom: -3%;
    left: 15%;
    z-index: -1;
    width: 250px;
    position: absolute; }

.tablet .fish__fish--01 {
  right: 1%;
  z-index: -1;
  width: 280px; }

.tablet .fish__fish--02 {
  display: none; }

.tablet .fish__crab {
  bottom: -3%;
  left: 1%;
  z-index: -1;
  width: 280px;
  position: absolute; }

/** Import page  **/
.logo {
  margin-top: 1%;
  position: relative;
  width: 40%;
  z-index: 0;
  -webkit-animation: zoomTo 9s infinite;
  animation: zoomTo 9s infinite;
  margin-right: 5%; }
  .logo:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

/** Import responsive  **/
/** Import layout  **/
#banca-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh; }

body {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: url(../images/bg/bg.jpg) center center no-repeat;
  background-size: cover; }

@media only screen and (max-width: 319px) {
  body {
    background: url(../images/bg/bg-mb.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 100%;
    margin-top: 8%; }
  .button-download img {
    width: 40%;
    margin-top: -50px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios img {
    float: right !important;
    margin-right: 4%;
    margin-top: -70px; }
  .button-download__ios--light {
    display: none; }
  .button-download__android img {
    float: left !important;
    margin-left: 4%; }
  .button-download__android--light {
    display: none; }
  .coin-wrapper {
    position: absolute;
    height: 40px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 10%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 20%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 10%;
      top: 25%;
      height: 30px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 1%;
      height: 30px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 10%;
    z-index: -1;
    width: 80px; }
  .fish__fish--02 {
    bottom: 35%;
    left: 2%;
    z-index: -1;
    width: 60px; }
  .fish__crab {
    bottom: -3%;
    left: 10%;
    z-index: -1;
    width: 80px;
    position: absolute; } }

@media screen and (min-width: 320px) and (max-width: 479px) {
  body {
    background: url(../images/bg/bg-mb.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 100%;
    margin-top: 8%; }
  .button-download img {
    width: 40%;
    margin-top: -60px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios img {
    float: right !important;
    margin-right: 4%;
    margin-top: -110px; }
  .button-download__ios--light {
    display: none; }
  .button-download__android img {
    float: left !important;
    margin-left: 4%; }
  .button-download__android--light {
    display: none; }
  .coin-wrapper {
    position: absolute;
    height: 40px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 10%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 20%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 10%;
      top: 25%;
      height: 30px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 1%;
      height: 30px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 10%;
    z-index: -1;
    width: 80px; }
  .fish__fish--02 {
    bottom: 35%;
    left: 2%;
    z-index: -1;
    width: 60px; }
  .fish__crab {
    bottom: -3%;
    left: 10%;
    z-index: -1;
    width: 80px;
    position: absolute; } }

@media screen and (min-width: 320px) and (max-width: 334px) {
  .button-download__ios img {
    margin-top: -75px; } }

@media screen and (min-width: 335px) and (max-width: 370px) {
  .button-download__ios img {
    margin-top: -80px; } }

@media screen and (min-width: 371px) and (max-width: 394px) {
  .button-download__ios img {
    margin-top: -85px; } }

@media screen and (min-width: 395px) and (max-width: 425px) {
  .button-download__ios img {
    margin-top: -90px; } }

@media screen and (min-width: 426px) and (max-width: 464px) {
  .button-download__ios img {
    margin-top: -100px; } }

@media screen and (min-width: 465px) and (max-width: 479px) {
  .button-download__ios img {
    margin-top: -110px; } }

@media screen and (min-width: 480px) and (max-width: 575px) {
  body {
    background: url(../images/bg/bg-mb.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 95%;
    margin-top: 4%; }
  .button-download img {
    width: 35%;
    margin-top: -100px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios img {
    float: right !important;
    margin-right: 10%;
    margin-top: -120px; }
  .button-download__ios--light {
    margin-left: 55%;
    margin-top: -120px;
    height: 55px;
    width: 55px;
    opacity: 1;
    display: none; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 57%; }
  .button-download__android img {
    float: left !important;
    margin-left: 10%; }
  .button-download__android--light {
    margin-left: 30%;
    margin-top: -55spx;
    height: 45px;
    width: 45px;
    opacity: 1;
    display: none; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 32%; }
  .coin-wrapper {
    position: absolute;
    height: 60px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 10%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 20%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 10%;
      top: 35%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 1%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 10%;
    z-index: -1;
    width: 160px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 2%;
    z-index: -1;
    width: 160px; }
  .fish__crab {
    bottom: -3%;
    left: 10%;
    z-index: -1;
    width: 160px;
    position: absolute; } }

@media screen and (min-width: 576px) and (max-width: 639px) {
  body {
    background: url(../images/bg/bg-mb.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 95%;
    margin-top: 1%; }
  .button-download img {
    width: 100%;
    margin-top: -100px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 15%;
    margin-top: -120px;
    height: 55px;
    width: 55px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 20%; }
  .button-download__android--light {
    margin-left: 50%;
    margin-top: -50px;
    height: 55px;
    width: 55px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 45%; }
  .coin-wrapper {
    position: absolute;
    height: 60px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 10%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 20%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 10%;
      top: 35%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 1%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 10%;
    z-index: -1;
    width: 160px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 2%;
    z-index: -1;
    width: 160px; }
  .fish__crab {
    bottom: -3%;
    left: 10%;
    z-index: -1;
    width: 160px;
    position: absolute; } }

@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    background: url(../images/bg/bg-mb.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 85%;
    margin-top: 1%; }
  .button-download img {
    width: 100%;
    margin-top: -100px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 15%;
    margin-top: -120px;
    height: 55px;
    width: 55px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 20%; }
  .button-download__android--light {
    margin-left: 50%;
    margin-top: -50px;
    height: 55px;
    width: 55px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 45%; }
  .coin-wrapper {
    position: absolute;
    height: 60px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 10%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 20%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 10%;
      top: 35%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 1%;
      height: 50px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 10%;
    z-index: -1;
    width: 160px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 2%;
    z-index: -1;
    width: 160px; }
  .fish__crab {
    bottom: -3%;
    left: 10%;
    z-index: -1;
    width: 160px;
    position: absolute; } }

@media screen and (max-width: 999px) and (min-width: 768px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 65%;
    margin-top: 1%; }
  .button-download img {
    width: 90%;
    margin-top: -100px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: -70%;
    margin-top: -125px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: -65%; }
  .button-download__android--light {
    margin-left: 55%;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 60%; }
  .coin-wrapper {
    position: absolute;
    height: 90px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 20%;
      top: 45%;
      height: 60px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 80px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 5%;
    z-index: -1;
    width: 220px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 7%;
    z-index: -1;
    width: 190px; }
  .fish__crab {
    bottom: -3%;
    left: 5%;
    z-index: -1;
    width: 220px;
    position: absolute; } }

@media screen and (max-width: 1365px) and (min-width: 1000px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 60%;
    margin-top: 1%; }
  .button-download img {
    width: 70%;
    margin-top: -100px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: -55%;
    margin-top: -125px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: -52%; }
  .button-download__android--light {
    margin-left: 65%;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 70%; }
  .coin-wrapper {
    position: absolute;
    height: 90px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 20%;
      top: 45%;
      height: 60px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 80px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 5%;
    z-index: -1;
    width: 220px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 7%;
    z-index: -1;
    width: 190px; }
  .fish__crab {
    bottom: -3%;
    left: 5%;
    z-index: -1;
    width: 220px;
    position: absolute; } }

@media screen and (max-width: 1599px) and (min-width: 1366px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 60%;
    margin-top: 1%; }
  .button-download img {
    width: 80%;
    margin-top: -190px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 12%;
    margin-top: -220px;
    height: 85px;
    width: 85px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 17%; }
  .button-download__android--light {
    margin-left: 65%;
    margin-top: -85px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 60%; }
  .coin-wrapper {
    position: absolute;
    height: 90px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 20%;
      top: 45%;
      height: 60px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 80px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 5%;
    z-index: -1;
    width: 220px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 7%;
    z-index: -1;
    width: 190px; }
  .fish__crab {
    bottom: -3%;
    left: 5%;
    z-index: -1;
    width: 220px;
    position: absolute; } }

@media screen and (max-width: 1999px) and (min-width: 1600px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 60%;
    margin-top: 1%; }
  .button-download img {
    width: 100%;
    margin-top: -230px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 25%;
    margin-top: -265px;
    height: 105px;
    width: 105px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 20%; }
  .button-download__android--light {
    margin-left: 55%;
    margin-top: -90px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 57%; }
  .coin-wrapper {
    position: absolute;
    height: 130px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 30%;
      top: 45%;
      height: 100px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 120px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 1%;
    z-index: -1;
    width: 380px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 5%;
    z-index: -1;
    width: 330px; }
  .fish__crab {
    bottom: -3%;
    left: 1%;
    z-index: -1;
    width: 380px;
    position: absolute; } }

@media screen and (min-width: 2000px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 65%;
    margin-top: 1%; }
  .button-download img {
    width: 100%;
    margin-top: -230px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 25%;
    margin-top: -265px;
    height: 105px;
    width: 105px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 20%; }
  .button-download__android--light {
    margin-left: 55%;
    margin-top: -90px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 57%; }
  .coin-wrapper {
    position: absolute;
    height: 130px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 30%;
      top: 45%;
      height: 100px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 120px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 1%;
    z-index: -1;
    width: 380px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 5%;
    z-index: -1;
    width: 330px; }
  .fish__crab {
    bottom: -3%;
    left: 1%;
    z-index: -1;
    width: 380px;
    position: absolute; } }

@media screen and (min-width: 2001) and (max-width: 2500px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 55%;
    margin-top: 1%; }
  .fish__fish--01 {
    right: 4%;
    z-index: -1;
    width: 480px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 5%;
    z-index: -1;
    width: 430px; }
  .fish__crab {
    bottom: -3%;
    left: 1%;
    z-index: -1;
    width: 480px;
    position: absolute; } }

@media screen and (min-width: 3000px) {
  body {
    background: url(../images/bg/bg.jpg) center center no-repeat !important;
    background-size: cover !important; }
  .logo {
    width: 60%;
    margin-top: 1%; }
  .button-download img {
    width: 100%;
    margin-top: -230px;
    -webkit-transition: 0.45s all ease-in;
    -o-transition: 0.45s all ease-in;
    transition: 0.45s all ease-in; }
  .button-download__ios--light {
    margin-left: 25%;
    margin-top: -265px;
    height: 105px;
    width: 105px;
    opacity: 1; }
  .button-download__ios:hover .button-download__ios--light, .button-download__ios:active .button-download__ios--light, .button-download__ios:focus .button-download__ios--light {
    opacity: 1;
    margin-left: 20%; }
  .button-download__android--light {
    margin-left: 55%;
    margin-top: -90px;
    height: 70px;
    width: 70px;
    opacity: 1; }
  .button-download__android:hover .button-download__android--light, .button-download__android:active .button-download__android--light, .button-download__android:focus .button-download__android--light {
    opacity: 1;
    margin-left: 57%; }
  .coin-wrapper {
    position: absolute;
    height: 130px;
    width: auto;
    z-index: 2; }
    .coin-wrapper__001 {
      left: 20%;
      top: 5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__002 {
      right: 35%;
      top: 10%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__003 {
      right: 15%;
      top: -5%;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__004 {
      left: 30%;
      top: 45%;
      height: 100px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
    .coin-wrapper__005 {
      right: 40%;
      bottom: 5%;
      height: 120px;
      width: auto;
      -webkit-animation: coin 3s infinite;
      animation: coin 3s infinite; }
  .fish__fish--01 {
    right: 1%;
    z-index: -1;
    width: 380px; }
  .fish__fish--02 {
    bottom: 25%;
    left: 5%;
    z-index: -1;
    width: 330px; }
  .fish__crab {
    bottom: -3%;
    left: 1%;
    z-index: -1;
    width: 380px;
    position: absolute; } }

/** Import partials  **/
