.fish{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include element("fish"){
        z-index: 0;
        position: absolute;        

        @include modifier("01"){
            bottom: 0;
            right: 15%;
            z-index: -1;
            width: 250px;
        }
        @include modifier("02"){
            bottom: 25%;
            left: 15%;
            z-index: -1;
            width: 230px;
        }
    }
    @include element("crab"){
        bottom: -3%;
        left: 15%;
        z-index: -1;
        width: 250px;
        position: absolute; 
        //animation: bottomToTop 4.72s infinite;
    }
}

.tablet{
    .fish{    
        @include element("fish"){
            @include modifier("01"){
                right: 1%;
                z-index: -1;
                width: 280px;
            }
            @include modifier("02"){
                display: none;
            }
        }
        @include element("crab"){
            bottom: -3%;
            left: 1%;
            z-index: -1;
            width: 280px;
            position: absolute; 
            //animation: bottomToTop 4.72s infinite;
        }
    }
}